<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Parking Space
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    
  </ion-content>

  <ion-tabs>
      <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="eye"></ion-icon>
            <ion-label>Preview</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="schedule">
              <ion-icon name="save"></ion-icon>
              <ion-label>Save</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="schedule">
                <ion-icon name="close"></ion-icon>
                <ion-label>Discard</ion-label>
              </ion-tab-button>
      </ion-tab-bar>   
  </ion-tabs>